	body {
	  background-color: gray;
	} 
	table {
	  background-color: white;
	}
    #news {
	  text-align: center;
	}
	#footer {
	  background-color: black;
	}
	#footer1 {
	  color: white;
	}
	h3 {
	  background-color: black;
	  color: white;
	}
    a:link {
	  text-decoration:none;
	  color:black;
	}
    a:visited {
	  text-decoration:none;
	  color:black;
    }
    a:hover {
	  text-decoration:underline;
	  color:grey;
	  font-size:1.1em;
    }
    a:active {
	  text-decoration:none;
	  color:black;
      font-size:1.1em;
    }